<div class="about">
    <div class="introduction">
        <div class="skew">
            <h1>À PROPOS</h1>
        </div>
        <div class="container">
            <div class="text">
                <p>
                    Bonjour,<br>
                    Je m'appelle Dongmo et la programmation est mom hobby. Je suis un développeur mobile/web "Full Stack" et UI/UX designer par profession. J'ai une aspiration à développer la société par les code. Je peux vous aider à construire votre application mobile, site web, application web progressive et résoudre divers problèmes liés au mobile/web à votre budget de poche en un laps de temps. Au fil des années, j'ai pu perfectionner mes techniques avec des frameworks spécialisés tels que Symfony, Angular, Ionic, Django, jQuery, Bootstrap, Sass, Adobe Xd, Adobe Illustrator, Adobe Photoshop.
                </p>
                <p class="fw-bold">Contactez-moi avec vos besoins à tout moment.</p>
                <div class="btn-contact text-secondary text-center">
                    <a routerLink="/contact">Contacter-moi !</a>
                </div>
            </div>
        </div>
    </div>
    <div class="photo">
        <img src="../../../assets/images/profile.png" class="img-fluid" alt="">
    </div>
</div>